.list-item{
    width: 560px;
    min-height: 64px;
    background-color: var(--white);
    margin: 10px 60px 10px 60px;
    border-radius: 40px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas:
    "song-img title title title duration icon"
    "song-img subtitle subtitle subtitle duration icon";
}

.album-cover{
    border-radius: 50%;
    width: 50px;
    grid-area: song-img;
    position: absolute;
    top: 7px;
    left: 7px;
}

.title{
    grid-area: title;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--dark);
    display: flex;
    align-items: end;
}

.subtitle{
    grid-area: subtitle;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: var(--dark-gray-tone);
    max-width: 250px;
}

.duration{
    grid-area: duration;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}

.info{
    grid-area: icon;
    position: absolute;
    top: 3px;
    right: 3px;
}

@media screen and (max-width: 720px){
    .list-item{
        width: auto;
        min-height: 64px;
        background-color: var(--white);
        margin: 10px;
        border-radius: 40px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
        grid-template-areas:
    "song-img title title title duration icon"
    "song-img subtitle subtitle subtitle duration icon";
    }
    .album-cover{
        width: 40px;
        grid-area: song-img;
        position: absolute;
        top: 12px;
        left: 12px;
    }

    .title{
        font-size: 14px;
        padding-left: var(--card-padding-mobile);
    }

    .subtitle{
        font-size: 14px;
        padding-left: var(--card-padding-mobile);
    }

    .duration{
        padding-right: 10px;
        font-size: 16px;
    }

    .info{
        width: 40px;
        grid-area: icon;
        position: absolute;
        top: 12px;
        right: 12px;
    }
}