@use '../../variables' as v;

.song {
  position: relative;
  display: flex;
  &__list{
    background-color: v.$light-gray-tone;
    width: 680px;
    min-height: v.$min-song-list;
    margin: auto auto 20px auto;
    border-radius: 12px;
    padding-bottom: 10px;
    &__img {
      position: absolute;
      left: 70px;
      top: -170px;
    }
    &__filters {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      margin: 0 58px;
      &__search {
          border-radius: 4px;
          position: relative;
        &__filter {
          height: 33px;
          width: 300px;
          background-color: v.$middle-gray-tone;
          border: none;
          outline: none;
          border-radius: 4px;
          padding-left: 10px;
          color: v.$dark-gray-tone;
        }
        &__buttonIcon{
          position: absolute;
          right: 2px;
          top: 2px;
        }
      }
      &__select {
        border-radius: 4px;
        position: relative;
        &__filter{
          width: 210px;
          height: 33px;
          -webkit-appearance: none;
          border-radius: 4px;
          padding-left: 10px;
          background-color: v.$middle-gray-tone;
          border: none;
          outline: none;
          color: v.$dark-gray-tone;
        }
        &__selectIcon {
          position: absolute;
          right: 2px;
          top: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .song {
    margin-top: 10vh;
    &__list{
      width: 100%;
      min-height: v.$min-song-list-mob;
      margin: 0;
      border-radius: 0;
      padding-bottom: 10px;
      &__img {
        width: 200px;
        position: absolute;
        left: 0;
        top: -113px;
      }
      &__filters {
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
        &__search {
          &__filter {
            height: 40px;
            width: 100%;
            padding: 10px;
          }
          &__buttonIcon{
            position: absolute;
            width: 36px;
            height: 36px;
            right: 2px;
            top: 2px;
          }
        }
        &__select {
          &__filter{
            width: 100%;
            height: 40px;
            padding: 10px;
          }
          &__selectIcon {
            position: absolute;
            width: 36px;
            height: 36px;
            right: 2px;
            top: 2px;
          }
        }
      }
    }
  }
}